name: golangci-lint

on:
  workflow_call:
    inputs:
      config-path:
        required: false
        description: 'Path to the GolangCI-Lint configuration file'
        type: string
        default: .github/.golangci.yml
      scope:
        required: false
        description: 'Go mod file (defaults to ./go.mod)'
        type: string
        default: ./...
      go-mod:
        required: false
        description: 'Go mod file (defaults to ./go.mod)'
        type: string
        default: ./go.mod

permissions: {}

jobs:
  GolangCI-Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@9ff9d14760a73102d9fa2f47131624137f50ead8
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            proxy.golang.org:443
            raw.githubusercontent.com:443

      - uses: bytemare/actions/init-go@9d34c2ecdaa6860cd53d058f47f338c07289812d
        with:
          go-mod: ${{ inputs.go-mod }}

      - uses: golangci/golangci-lint-action@abbeba89402362fd9f4b8d12cf4c2884791671e1
        with:
          version: latest
          args: --config=${{ inputs.config-path }} ${{ inputs.scope }}
