#
# SPDX-License-Identifier: MIT
#
# Copyright (C) 2025 Daniel Bourdrez. All Rights Reserved.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree or at
# https://spdx.org/licenses/MIT.html
#

---

name: GolangCI Lint

on:
  workflow_call:
    inputs:
      config-path:
        required: false
        description: 'Path to the GolangCI-Lint configuration file'
        type: string
        default: .github/.golangci.yaml
      scope:
        required: false
        description: 'Go mod file (defaults to ./go.mod)'
        type: string
        default: ./...
      go-mod:
        required: false
        description: 'Go mod file (defaults to ./go.mod)'
        type: string
        default: ./go.mod

permissions: { }

jobs:
  GolangCI-Lint:
    name: GolangCI Lint
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            go.dev:443
            golang.org:443
            golangci-lint.run:443
            hosted-compute-watchdog-prod-eus-01.githubapp.com:443
            objects.githubusercontent.com:443
            proxy.golang.org:443
            raw.githubusercontent.com:443
            release-assets.githubusercontent.com:443

      - uses: bytemare/actions/init-go@d49dfa00ad58318c556988a441a4f177445b6a3a
        with:
          go-mod: ${{ inputs.go-mod }}

      - uses: golangci/golangci-lint-action@de73c35617a6db3340c5f0df4ebaec93a4c965ff
        with:
          version: latest
          args: --config=${{ inputs.config-path }} ${{ inputs.scope }}
