#
# SPDX-License-Identifier: MIT
#
# Copyright (C) 2025 Daniel Bourdrez. All Rights Reserved.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree or at
# https://spdx.org/licenses/MIT.html
#

---

name: Governance Suite

on:
  workflow_call:
    inputs:
      dependency-review:
        description: 'Run Dependency Review'
        required: false
        type: boolean
        default: false
      license-check:
        description: 'Run license compliance checks'
        required: false
        type: boolean
        default: false
      do-not-submit:
        description: 'Run Do Not Submit checks'
        required: false
        type: boolean
        default: false
      scorecard:
        description: 'Run OpenSSF Scorecard'
        required: false
        type: boolean
        default: false
      codecov:
        description: 'Upload coverage to Codecov'
        required: false
        type: boolean
        default: false
      codecov-disable-search:
        description: 'Forwarded to the Codecov reusable workflow'
        required: false
        type: string
        default: 'true'
    secrets:
      # OpenSSF Scorecard token
      scorecard:
        required: false
        description: 'PAT used by Scorecard when enabled'
      # Codecov token
      codecov:
        required: false
        description: 'Codecov token when coverage upload is enabled'

permissions: { }

jobs:
  DependencyReview:
    if: ${{ inputs['dependency-review'] }}
    permissions:
      contents: read
    uses: ./.github/workflows/dependency-review.yaml

  #LicenseCheck:
  #  if: ${{ inputs['license-check'] }}
  #  permissions:
  #    contents: read
  #  uses: ./.github/workflows/license-check.yaml

  DoNotSubmit:
    if: ${{ inputs['do-not-submit'] }}
    permissions:
      contents: read
    uses: ./.github/workflows/do-not-submit.yaml

  ScorecardPATCheck:
    name: Check the Scorecard PAT is set
    if: ${{ inputs.scorecard }}
    runs-on: ubuntu-latest
    steps:
      - env:
          token: ${{ secrets.scorecard }}
        run: |
          if [ -z "$token" ]; then
            echo "Scorecard requires a PAT when enabled." >&2
            exit 1
          fi

  Scorecard:
    if: ${{ inputs.scorecard }}
    needs: ScorecardPATCheck
    permissions:
      security-events: write
      id-token: write
      actions: read
      checks: read
      attestations: read
      contents: read
      deployments: read
      issues: read
      discussions: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      statuses: read
      models: read
    uses: ./.github/workflows/scorecard.yaml
    secrets:
      token: ${{ secrets.scorecard }}

  Codecov:
    if: ${{ inputs.codecov }}
    permissions:
      contents: read
    uses: ./.github/workflows/codecov.yaml
    with:
      disable_search: ${{ inputs['codecov-disable-search'] }}
    secrets:
      token: ${{ secrets.codecov }}
