#
# SPDX-License-Identifier: MIT
#
# Copyright (C) 2025 Daniel Bourdrez. All Rights Reserved.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree or at
# https://spdx.org/licenses/MIT.html


---

name: Govulncheck

on:
  workflow_call:

permissions: {}

jobs:
  Govulncheck:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      # Needed to upload the results to code-scanning dashboard.
      security-events: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@92c522aaa6f53af082553dedc1596c80b71aba33
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            golang.org:443
            hosted-compute-watchedog-prod-iad-01.githubapp.com:443
            objects.githubusercontent.com:443
            proxy.golang.org:443
            release-assets.githubusercontent.com:443
            sum.golang.org:443
            vuln.go.dev:443

      - name: Govulncheck
        uses: golang/govulncheck-action@357ea4a5418cb457db33ccd168e28f68e075eba0
        with:
          go-package: ./...
          output-file: govulncheck.sarif
          output-format: sarif

      - name: "Upload SARIF results to GitHub's code scanning dashboard"
        uses: github/codeql-action/upload-sarif@d88a5540c3fd916f4e15b7744d287a124278e065
        with:
          sarif_file: govulncheck.sarif