#
# SPDX-License-Identifier: MIT
#
# Copyright (C) 2025 Daniel Bourdrez. All Rights Reserved.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree or at
# https://spdx.org/licenses/MIT.html
#

---

name: Scorecard Analysis

on:
  workflow_call:
    secrets:
      token:
        required: true
        description: >-
          PAT used to check Branch Protection.
          To create the PAT, see https://github.com/ossf/scorecard-action#authentication-with-pat.

jobs:
  scorecard:
    name: Scorecard Analysis
    runs-on: ubuntu-latest
    permissions:
      # Required when publishing results and OIDC
      id-token: write
      security-events: write
      # Read permissions needed for Scorecard to inspect repository settings and metadata.
      actions: read
      artifact-metadata: read
      attestations: read
      checks: read
      contents: read
      deployments: read
      discussions: read
      issues: read
      models: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      statuses: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.deps.dev:443
            api.github.com:443
            api.osv.dev:443
            api.scorecard.dev:443
            api.securityscorecards.dev:443
            fulcio.sigstore.dev:443
            github.com:443
            oauth2.sigstore.dev:443
            oss-fuzz-build-logs.storage.googleapis.com:443
            rekor.sigstore.dev:443
            tuf-repo-cdn.sigstore.dev:443
            www.bestpractices.dev:443

      - name: "Checkout code"
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          persist-credentials: false

      - name: "Run analysis"
        uses: ossf/scorecard-action@4a0b87a20cc42672e6c80e82e63b5cd8f25f108a
        with:
          results_file: results.sarif
          results_format: sarif
          repo_token: ${{ secrets.token }}
          publish_results: true

      - name: "Upload artifact"
        uses: actions/upload-artifact@47309c993abb98030a35d55ef7ff34b7fa1074b5
        with:
          name: SARIF file
          path: results.sarif
          retention-days: 5

      - name: "Upload SARIF results to GitHub's code scanning dashboard"
        uses: github/codeql-action/upload-sarif@710e2945787622b429f8982cacb154faa182de18
        with:
          sarif_file: results.sarif
