#
# SPDX-License-Identifier: MIT
#
# Copyright (C) 2025 Daniel Bourdrez. All Rights Reserved.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree or at
# https://spdx.org/licenses/MIT.html
#

---

name: Semgrep

on:
  workflow_call:
    secrets:
      semgrep:
        required: false

permissions: { }

jobs:
  Semgrep:
    permissions:
      contents: read
      # Needed to upload the results to code-scanning dashboard.
      security-events: write
    runs-on: ubuntu-24.04
    container:
      image: semgrep/semgrep
    if: (github.actor != 'dependabot[bot]')
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
        with:
          egress-policy: block

      - name: Ensure Semgrep token is available
        env:
          token: ${{ secrets.semgrep }}
        run: |
          if [ -z "$token" ]; then
            echo "Semgrep requires SEMGREP_APP_TOKEN when enabled." >&2
            exit 1
          fi

      - name: Checkout repo
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Run Semgrep
        run: semgrep ci --no-suppress-errors --sarif --output semgrep.sarif
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.semgrep }}

      - name: "Upload SARIF results to GitHub's code scanning dashboard"
        uses: github/codeql-action/upload-sarif@a2d9de63c2916881d0621fdb7e65abe32141606d
        with:
          sarif_file: semgrep.sarif
