#
# SPDX-License-Identifier: MIT
#
# Copyright (C) 2025 Daniel Bourdrez. All Rights Reserved.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree or at
# https://spdx.org/licenses/MIT.html
#

---

name: SonarQube

on:
  workflow_call:
    inputs:
      configuration:
        description: "Path to the configuration file."
        type: string
        required: true
    secrets:
      github:
        required: false
      sonar:
        required: false

permissions: { }

jobs:
  SonarQube:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    permissions:
      contents: read
      # Needed to upload the results to code-scanning dashboard.
      security-events: write
    steps:
      - name: Ensure SonarQube token is available
        env:
          token: ${{ secrets.sonar }}
        run: |
          if [ -z "$token" ]; then
            echo "SonarQube token is required when running this job." >&2
            exit 1
          fi

      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
              api.github.com:443
              github.com:443
              golang.org:443
              objects.githubusercontent.com:443
              proxy.golang.org:443
              storage.googleapis.com:443
              sum.golang.org:443
              api.sonarcloud.io:443
              ea6ne4j2sb.execute-api.eu-central-1.amazonaws.com:443
              scanner.sonarcloud.io:443
              sonarcloud.io:443

      - name: Init go
        uses: bytemare/actions/init-go@69ba525cb742a88f268ae52db7eaa9a320656a74

      - name: Code Coverage
        shell: bash
        run: go test -v -race -covermode=atomic -coverpkg=./... -coverprofile=coverage.out ./...

      - uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9
        env:
          GITHUB_TOKEN: ${{ secrets.github || github.token }}
          SONAR_TOKEN: ${{ secrets.sonar }}
        with:
          args: >
            -Dproject.settings=${{ inputs.configuration }}
