#
# SPDX-License-Identifier: MIT
#
# Copyright (C) 2025 Daniel Bourdrez. All Rights Reserved.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree or at
# https://spdx.org/licenses/MIT.html
#

---

name: Test Go

on:
  workflow_call:
    inputs:
      version:
        description: 'The Go version to use'
        required: false
        type: string

permissions: { }

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            go.dev:443
            golang.org:443
            proxy.golang.org:443
            release-assets.githubusercontent.com:443

      - name: Checkout repo
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 0

      - name: Init go
        uses: bytemare/actions/init-go@d49dfa00ad58318c556988a441a4f177445b6a3a
        with:
          go-version: ${{ inputs.version }}

      - name: Run Tests
        run: go test -v -race -vet=all ./...
