#
# SPDX-License-Identifier: MIT
#
# Copyright (C) 2025 Daniel Bourdrez. All Rights Reserved.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree or at
# https://spdx.org/licenses/MIT.html
#

---

name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: { }

jobs:
  Test:
    name: Test Go
    strategy:
      fail-fast: false
      matrix:
        go: ['1.26', '1.25', '1.24']
    uses: ./.github/workflows/test-go.yaml
    with:
      version: ${{ matrix.go }}
      test-command: "cd tests/fixtures/go && go test -v -race -vet=all ./..."
