#
# SPDX-License-Identifier: MIT
#
# Copyright (C) 2026 Daniel Bourdrez. All Rights Reserved.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree or at
# https://spdx.org/licenses/MIT.html
#

---

name: Verify Release (SLSA)

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release tag to verify'
        required: true
      mode:
        description: 'Verification mode ("quick", "full", or "full,reproduce")'
        required: false
        default: full
      emit_vsa:
        description: 'Emit VSA during verification (true/false)'
        type: boolean
        required: false
        default: false

permissions: {}

jobs:
  verify:
    name: Verify release
    permissions:
      contents: read
      id-token: write
    uses: bytemare/slsa/.github/workflows/slsa.yaml@70b0ebac660df85768a16b2efc0651650a84aba9
    with:
      workflow_ref: 70b0ebac660df85768a16b2efc0651650a84aba9
      repo: ${{ github.repository }}
      tag: ${{ github.event.inputs.tag }}
      mode: ${{ github.event.inputs.mode || 'full' }}
      emit_vsa: ${{ github.event.inputs.emit_vsa }}
